@import "bootstrap-reboot.css";
@import "fonts/fa-solid.css";
@import "palette.css";

html {
    height: 100%;
    font-size: 20px;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: 2.5rem 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "navigation"
        "main";
}

/* Navigation Menu */

nav {
    grid-area: navigation;
    z-index: 1000;
    user-select: none;
    display: flex;
    flex-direction: row;
    color: var(--header-fg);
    background: var(--header-bg);
    box-shadow: 0px 0px 10px 2px grey;
}

nav a {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

nav a.at-end {
    margin-left: auto;
}

nav a:hover {
    text-decoration: inherit;
    color: inherit;
    background: var(--header-hl);
}

nav.dialog {
    background: var(--expense-bg);
    color: var(--expense-fg);
}

nav.dialog a:hover {
    background: var(--expense-hl);
}

main {
    grid-area: main;
    overflow: hidden;
    overflow-y: auto;
}

#transactions {
    display: grid;
    grid-template-columns: 20% minmax(0, 1fr) 20%;
    grid-template-areas:
        "lmargin content rmargin";
    padding-bottom: 5rem;
    user-select: none;
}

#transactions-list {
    grid-area: content;
}

li.date {
    list-style: none;
    color: var(--header-bg);
    font-weight: bold;
}

#transactions-list > ul > ul {
    margin-bottom: 1rem;
}

li.income,
li.expense {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
}

span.amount {
    width: 6rem;
    margin-right: 1rem;
    text-align: right;
}

li.income span.amount {
    color: var(--income-bg);
}

li.expense span.amount {
    color: var(--expense-bg);
}

section.actions {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 5rem;
    left: 0;
    bottom: 0;
    user-select: none;
    /* background-image: linear-gradient(transparent, white, white); */
}

section.actions a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5rem;
    border: solid 1px black;
    border: none;
    border-radius: 1.25rem;
    font-weight: bold;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: var(--header-fg);
    background: var(--header-bg);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: inherit;
    box-shadow: 0px 4px 10px 0px grey;
}
section.actions a[href="#income"] {
    color: var(--income-fg);
    background: var(--income-bg);
}
section.actions a[href="#income"]:hover {
    color: var(--expense-fg);
    background: var(--income-hl);
}
section.actions a[href="#expense"] {
    color: var(--expense-fg);
    background: var(--expense-bg);
}
section.actions a[href="#expense"]:hover {
    color: var(--expense-fg);
    background: var(--expense-hl);
}
section.actions a:first-child {
    margin-left: 20%;
}
section.actions a:last-child {
    margin-right: 20%;
}
section.actions a:hover {
    text-decoration: none;
    color: inherit;
    background: var(--header-hl);
}


form.dialog {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5rem minmax(0, 1fr) 3rem 5rem;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-areas: 
        "header  header       header      header      header"
        "lmargin minicalendar categories  categories  rmargin"
        "lmargin description  description description rmargin"
        "lmargin buttons      buttons     buttons     rmargin";
    flex-flow: row wrap;
}
form.dialog > header {
    grid-area: header;
}
form.dialog > header > h2 {
    color: var(--expense-bg);
    background: var(--expense-fg);
    text-align: center;
}
form.dialog > section {
    padding: 1rem;
}
form.dialog > section.amount {
    grid-area: header;
    font-weight: bold;
    color: var(--expense-bg);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
form.dialog > section.amount > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
input.amount {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px dotted var(--expense-bg);
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    align-self: baseline;
    text-align: right;
    width: 8rem;
}
form.dialog > section.minicalendar {
    grid-area: minicalendar;
}
form.dialog > section.amount {
    display: flex;
    flex-flow: row wrap;
}
form.dialog > section.description {
    grid-area: description;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
}
form.dialog > section.description > * {
    margin-left: 0.5 rem;
    margin-right: 0.5 rem;
}
form.dialog > section.description > input {
    width: 30rem;
    align-self: baseline;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px dotted var(--header-bg);
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
form.dialog > section.categories {
    grid-area: categories;
    display: flex;
    flex-flow: column;
    overflow: none;
}

.listbox {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.listbox label .fa {
    width: 1.25rem;
    margin-right: 0.75rem;
}
.listbox label {
    display: flex;
    align-items: baseline;
    outline: none;
    margin: 0;
    padding: 0.5rem;
    border: solid 4px #fff;
    border-radius: 0.75rem;
    color: #000;
    background: #fff;
    text-align: left;
    user-select: none;
}
.listbox label:hover {
    color: #000;
    background: #fc9;
}
.listbox label input {
    margin-right: 0.75rem;
}

form.dialog > section.dialog-buttons {
    grid-area: buttons;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 0rem;
}
form.dialog > section.dialog-buttons > button {
    border: none;
    border-radius: 1.25rem;
    height: 2.5rem;
    color: var(--expense-fg);
    background: var(--expense-bg);
    margin-right: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    align-self: flex-end;
}
form.dialog > section.dialog-buttons > button:hover {
    background: var(--expense-hl);
}
form.dialog > section.dialog-buttons > button#expense-cancel {
    border: 2px solid var(--expense-bg);
    background: var(--expense-fg);
    color: var(--expense-bg);
}


form.dialog > section.minicalendar {
    border: 2px solid var(--header-bg);
    display: flex;
    flex-flow: column nowrap;
    user-select: none;
    margin: 0.5rem;
    padding: 0;
}

section.minicalendar > header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 2rem;
}

section.minicalendar > header > div {
    flex: 0 0 auto;
    background: none;
    width: 2.5rem;
    height: 2rem;
    border: none;
}
section.minicalendar > header > div:hover {
    background: var(--minicalendar-highlight-bg);
}

section.minicalendar > header > h3 {
    flex: 1 1 auto;
    text-align: center;
    margin: 0;
}

section.minicalendar > table > thead > tr > td {
    text-align: center;
    height: 1rem;
    font-size: 0.75rem;
    color: gray;
}

section.minicalendar > table > tbody > tr > td {
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
}
section.minicalendar > table > tbody > tr > td:hover {
    background: var(--minicalendar-highlight-bg);
}
