@import 'normalize.css';
@import 'fonts/fa-solid.css';
@import 'palette.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

/* General */

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.25rem;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}

button {
  color: var(--primary);
  background: var(--on-primary);
  color: #000;
  background: transparent;
  height: 2.5rem;
  border-radius: 1.25rem;
  border: solid 3px transparent;
  cursor: pointer;
}

button {
  outline: none;
}

body.keyboard-navigation button:focus {
  outline: solid 3px var(--primary);
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: var(--primary); 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.options {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem;
}
.options input {
  -webkit-appearance: none;
  /* margin-right: 0.75rem; */
}
.options label {
  flex: 1;
  display: flex;
  align-items: baseline;
  outline: none;
  margin: 0;
  padding: 0.5rem 1rem;
  border: 3px solid transparent;
  border-radius: 0.125rem;
  color: var(--fg);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.options input:checked + label {
  color: var(--on-primary);
  background: var(--primary);
  border: solid 3px var(--primary);
}

/* Navigation Menu */

nav {
  position: absolute;
  top: 0;
  right: 16px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fg-lighter);
  background: transparent;
  z-index: 10000;
}

nav a {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: inherit;
}

nav a:hover {
  color: inherit;
  text-decoration: none;
}

/* Main Page Header */

.overview {
  grid-area: balance;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 3rem;
  color: var(--primary);
  background: var(--bg-darker);
}

#balance {
  font-size: 3rem;
}

.overview button {
  height: auto;
  padding: 0.5rem 2rem;
  color: var(--fg-lighter);
  border: solid 3px var(--fg-lightest);
  background: transparent;
  font-weight: bold;
  margin: 0.5rem;
}

.overview button#select-account {
  margin: 0.25rem;
  padding: 0.5rem 2rem;
  border: solid 3px transparent;
  color: var(--fg);
  background: transparent;
}

/* Transactions List */

#list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  user-select: none;
  background: var(--bg);
}

#transactions-list {
  flex: 1;
  overflow-y: auto;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

li.date {
  list-style: none;
  color: var(--primary);
  font-weight: bold;
  padding-top: 0.75rem;
  padding-left: 1rem;
}

#transactions-list > ul > *:nth-child(4n + 1),
#transactions-list > ul > *:nth-child(4n + 2) {
  background: var(--bg);
}
#transactions-list > ul > *:nth-child(4n + 3),
#transactions-list > ul > *:nth-child(4n + 4) {
  background: var(--bg);
}

#transactions-list > ul {
  padding-left: 0;
}
#transactions-list > ul > ul {
  padding-bottom: 0.75rem;
}

#transactions-list li.income,
#transactions-list li.expense {
  flex: 1 0 auto;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: first baseline;
  padding-left: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1.5rem;
}

#transactions-list li.income > :nth-child(-n+2) {
  color: var(--income-bg);
}

#transactions-list li.expense > :nth-child(-n+2) {
  color: var(--expense-bg);
}

#transactions-list li .cents {
  font-size: 1.125rem;
}

#transactions-list li > :first-child {
  width: 6rem;
  text-align: right;
}
#transactions-list li > :nth-child(2) {
  width: 2rem;
  margin-right: 1rem;
}

#list section.actions {
  position: fixed;
  bottom: 0;
  right: 32px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  padding-bottom: 2rem;
  background: var(--bg-darker);
  background: transparent;
}

#list section.actions button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  border: solid 3px var(--primary);
  border-radius: 1.25rem;
  font-weight: bold;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: var(--primary);
  background: var(--on-primary);
  margin: 2rem 2rem;
  margin-top: 1rem;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#list section.actions button.income {
  margin-top: auto;
  border: none;
  color: var(--income-fg);
  background: var(--income-bg);
  box-shadow: 0px 2px 10px 0px var(--shadow);
}

#list section.actions button.expense {
  border: none;
  color: var(--expense-fg);
  background: var(--expense-bg);
  box-shadow: 0px 2px 10px 0px var(--shadow);
}

/* Calendar Page */

#calendar {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: min-content minmax(min-content, 1fr);
  grid-template-areas:
    'month balance'
    'month day';
  /*grid-gap: 0.5rem;*/
  background: var(--bg-darker);
  /*padding: 0.5rem;*/
}

#calendar-month {
  grid-area: month;
  display: grid;
  grid-template-columns: repeat(7, minmax(4rem, 1fr));
  grid-template-rows: 3rem repeat(auto-fit, minmax(10px, 1fr)) [footer] 1.5rem;
  grid-gap: 4px;
  padding: 0;
  margin-left: 1rem;
  user-select: none;
  contain: size layout style;
  /*background: var(--bg);*/
  z-index: 100;
}

#calendar-month > header {
  grid-area: span 1 / span 7;
  display: grid;
  grid-template-columns: repeat(7, minmax(4rem, 1fr));
  grid-template-rows: 3rem 1rem;
  grid-gap: 0;
  color: var(--fg-lighter);
}

#calendar-month > header > p {
  grid-area: span 1 / span 3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
  color: var(--fg);
}

#calendar-month > header > button {
  grid-area: span 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0 2rem;
  margin: 0.25rem 5rem;
  border-radius: 1rem;
  cursor: pointer;
  color: var(--fg-lighter);
}

#calendar-month > div.weekday {
  grid-row: -2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  text-overflow: ellipsis;
  color: var(--fg-lighter);
}

#calendar-month > .month-cell {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  border: none;
  background: var(--bg);
  contain: strict;
  cursor: pointer;
}

#calendar-month > .month-cell:empty {
  cursor: default;
  background: transparent;
}

#calendar-month > .month-cell > header {
  text-align: center;
  color: var(--fg-lighter);
  font-weight: bold;
  padding: 2px;
  margin-bottom: 0.25rem;
}

#calendar-month > .month-cell > header.today {
  /*font-variant-caps: all-small-caps;*/
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--primary);
  text-overflow: ellipsis;
}

#calendar-month > .month-cell.checked {
  position: relative;
  /*top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);*/
  background: var(--bg-lighter);
  /*border: solid 4px var(--primary);*/
  border-radius: 0.25rem;
  box-shadow: 0 2px 10px 0 var(--shadow);
  z-index: 1000;
}

#calendar-month > .month-cell.checked > header {
  color: #fff;
  background: var(--primary);
}

#calendar-month > .month-cell:hover {
  /* background: #ffa; */
}

#calendar-month > .month-cell > ul {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start; 
  align-content: start; 
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

#calendar-month > .month-cell > ul > li {
  display: flex;
  justify-content: center;
  align-items: first baseline;
  font-size: 1rem;
  padding: 0.125rem 0.25rem;
  margin: 0.125rem;
  border-radius: 0.5rem / 50%;
}

#calendar-month > .month-cell > ul > li.income {
  color: #fff;
  background: var(--income-bg);
}

#calendar-month > .month-cell > ul > li.expense {
  color: #fff;
  background: var(--expense-bg);
}

#calendar-month > .month-cell > ul > li > .cents {
  font-size: 0.75rem;
}

#calendar-month > .month-cell > p {
  flex: 1;
  margin: 0;
  overflow-y: scroll;
}

#calendar-month > .month-cell > p > span {
  font-size: 1.125rem;
  padding: 0.125rem 0.25rem;
  margin: 0.125rem;
  border-radius: 50% / 25%;
}

#calendar-month > .month-cell > p  span.income {
  color: #fff;
  background: var(--income-bg);
}

#calendar-month > .month-cell > p  span.expense {
  color: #fff;
  background: var(--expense-bg);
}

#calendar-month > .month-cell > p  span.cents {
  font-size: 0.625rem;
}

#calendar-day {
  grid-area: day;
  border-radius: 0.5rem;
  margin: 32px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  contain: style layout size;
  user-select: none;
  z-index: 100;
  background: var(--bg-lighter);
  box-shadow: 0 4px 20px 0 var(--shadow);
}

#calendar-day:empty {
  flex: 1;
  margin: 1rem;
  border: solid 3px transparent;
  border-radius: 1.25rem;
  background: transparent;
  contain: content;
  box-shadow: none;
}

#calendar-day > header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(4rem + 3px);
  color: #fff;
  background: var(--primary);
  font-size: 2rem;
  font-weight: bold;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

#calendar-day > ul {
  flex: 1;
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  overflow-y: scroll;
}

#calendar-day > ul > li {
  display: flex;
  justify-content: stretch;
  align-items: first baseline;
  padding: 0.25rem 2rem;
  font-size: 1.5rem;
}

#calendar-day > ul > li.income > :nth-child(-n+2) {
  color: var(--income-bg);
}

#calendar-day > ul > li.expense > :nth-child(-n+2) {
  color: var(--expense-bg);
}

#calendar-day > ul > li > :first-child {
  width: 6rem;
  text-align: right;
}
#calendar-day > ul > li > :nth-child(2) {
  width: 2rem;
  margin-right: 1rem;
}
#calendar-day > ul > li > .cents {
  font-size: 1.125rem;
}

#calendar-day > ul > li > :last-child {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--fg);
}

#calendar-day > .actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  margin: 0;
  border-top: solid 4px var(--bg-lighter);
}

#calendar-day > .actions > button {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 2px 10px 0 var(--bg-darker);
}

#calendar-day > .actions > button.income {
  color: var(--income-fg);
  background: var(--income-bg);
  border: solid 3px var(--income-bg);
}

#calendar-day > .actions > button.expense {
  color: var(--expense-fg);
  background: var(--expense-bg);
  border: solid 3px var(--expense-bg);
}

#calendar .balance {
  grid-area: balance;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 0;
}

/* Transaction Dialog */

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5000;
  display: flex;
  background: #0007;
  --local-primary: var(--primary);
  --local-on-primary: var(--on-primary);
  contain: strict;
}

.dialog::backdrop {
  background: #3338;
}

#dialog.income {
  --local-primary: var(--income-bg);
}

#dialog.expense {
  --local-primary: var(--expense-bg);
}

.dialog > * {
  max-height: 98%;
  max-width: 98%;
  margin: auto;
  border: solid 0.25rem var(--bg-lighter);
  border-radius: 0.25rem;
  contain: content;
  box-shadow: 0px 4px 20px 0px black;
  padding: 1rem 2rem;
  color: var(--fg);
  background: var(--bg-lighter);
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

#dialog form {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  display: grid;
  grid-template-areas:
    'date    date'
    'amount  categories'
    'description categories'
    'actions actions';
  grid-template-areas:
    'amount      date'
    'description date'
    'categories  date'        
    'actions actions';
  grid-template-areas:
    'date    amount'
    'date    description'
    'date    categories'
    'actions actions';
}

#dialog section {
  padding: 1rem;
}

#dialog section.amount {
  grid-area: amount;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 2rem;
}

#dialog section.description {
  grid-area: description;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#dialog input[type='text'] {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px dotted var(--fg-lighter);
  padding-bottom: 0;
  margin-bottom: 0;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: transparent;
}

#dialog section.amount label {
  color: var(--local-primary);
  font-weight: bold;
  margin: 0;
  margin-right: 1rem;
}

#dialog section.amount input {
  align-self: unsafe first baseline;
  width: 10rem;
  /* text-align: right; */
}

#dialog section.amount .money-symbol {
  align-self: unsafe first baseline;
  margin-left: 1rem;
}

#dialog section.description label {
  color: var(--local-primary);
  font-weight: bold;
  margin: 0;
  margin-right: 1rem;
}

#dialog section.description input {
  align-self: unsafe first baseline;
  width: 24rem;
}

#dialog section.date {
  grid-area: date;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#dialog section.date > label {
  align-self: start;
  font-weight: bold;
}

#minicalendar {
  display: grid;
  grid-template-columns: repeat(7, min-content);
  /*grid-auto-rows: min-content;*/
  grid-template-rows: 4rem repeat(6, 3rem);
  grid-gap: 1rem;
  user-select: none;
  contain: content;
  padding: 1rem;
  /* border-radius: 1.25rem; 
    border: solid 2px var(--local-primary); */
  border-right: solid 2px var(--local-primary);
  background: var(--bg-lighter);
  color: var(--fg);
}

#minicalendar header {
  grid-area: span 1 / span 7;
  display: flex;
  justify-content: stretch;
}

#minicalendar header div:nth-child(1),
#minicalendar header div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.75rem;
  color: var(--local-primary);
}

#minicalendar header div:nth-child(2) {
  flex: 1;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#minicalendar div.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

#minicalendar div[checked='true'] {
  color: var(--local-on-primary);
  background: var(--local-primary);
}

#minicalendar div.weekday {
  font-variant: all-small-caps;
}

#minicalendar div.weekday:hover {
  background: inherit;
}

#dialog section.categories {
  grid-area: categories;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

#dialog.income section.categories {
  display: none;
}

#dialog section.categories > label {
  align-self: start;
  font-weight: bold;
  color: var(--local-primary);
}

.listbox {
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, max-content));
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  column-gap: 1rem;
  row-gap: 0.25rem;
  padding: 0.25rem;
}

.listbox > div {
}

.listbox label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: baseline;
  outline: none;
  margin: 0;
  padding: 0.5rem 1rem;
  border: 3px solid transparent;
  border-radius: 0.125rem;
  color: #000;
  background: var(--bg-lighter);
  text-align: left;
  user-select: none;
  cursor: pointer;
}
.listbox label:hover {
  border: solid 3px transparent;
}
.listbox input:checked ~ label {
  color: var(--local-on-primary);
  background: var(--local-primary);
  border: solid 3px var(--local-primary);
  margin: 0;
}
.listbox .fa {
  width: 1.25rem;
  margin-right: 0.75rem;
}
.listbox input {
  -webkit-appearance: none;
  /* margin-right: 0.75rem; */
}

#dialog section.actions {
  grid-area: actions;
  flex: 1;
  margin-top: 1.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-end;
  background: var(--bg-lighter);
  padding: 0.5rem 0 0;
}

#dialog section.actions button {
  border-color: var(--fg-lighter);
  color: var(--fg-lighter);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: 2rem;
  font-weight: bold;
  align-self: flex-end;
}

#dialog section.actions button:last-child {
  color: #fff;
  border-color: var(--local-primary);
  background: var(--local-primary);
}

/* Settings */

#settings > div {
  min-width: 66%;
}

#settings > div > section {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

#settings h1 {
  text-align: center;
  color: var(--local-primary);
}

#settings h3 {
  margin-top: 3.5rem;
  margin-bottom: 0.25rem;
  color: var(--local-primary);
}

#settings td {
  padding: 0.5rem 0.25rem;
}

#settings button {
  color: var(--local-primary);
}

