@import "bootstrap-reboot.css";
@import "fonts/fa-solid.css";
@import "palette.css";

html {
    height: 100%;
    font-size: 18px;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: 2.5rem 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "banner"
        "main";
}

header.banner {
    color: var(--header-fg);
    background: var(--header-bg);
    user-select: none;
    box-shadow: 0px 0px 10px 2px grey;
    z-index: 1000;
    grid-area: banner;
}

#banner-dialog {
    background: var(--expense-bg);
    color: var(--expense-fg);
}

#banner-dialog a.tab:hover {
    background: var(--expense-hl);
}

nav {
    user-select: none;
    height: 100%;
    display: flex;
    flex-direction: row;
}

a.tab {
    display: flex;
    flex-direction: row;
    color: inherit;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
a.tab.right {
    margin-left: auto;
}
a.tab:hover {
    background: var(--header-hl);
}
div.home {
    width: 2.5rem;
}

main {
    grid-area: main;
    overflow-y: auto;
}

div.tabcontent {
    width: 100%;
    height: 100%;
}

#transactions-list {
    padding-bottom: 5rem;
}

.actions {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    flex-gap: 2rem;
    position: fixed;
    width: 100%;
    height: 5rem;
    left: 0;
    bottom: 0;
    user-select: none;
    // background-image: linear-gradient(transparent, white, white);
}

.action {
    display: flex;
    border: solid 1px black;
    border: none;
    border-radius: 1.25rem;
    height: 2.5rem;
    font-weight: bold;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: var(--header-fg);
    background: var(--header-bg);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    // flex: 1;
    text-decoration: none;
    color: inherit;
    box-shadow: 0px 4px 10px 0px grey;
}
.action.income {
    color: var(--income-fg);
    background: var(--income-bg);
}
.action.income:hover {
    background: var(--income-hl);
}
.action.expense {
    color: var(--expense-fg);
    background: var(--expense-bg);
}
.action.expense:hover {
    background: var(--expense-hl);
}
.action:first-child {
    margin-left: 20%;
}
.action:last-child {
    margin-right: 20%;
}
.action:hover {
    text-decoration: none;
    color: inherit;
    background: var(--header-hl);
}
.action > div {
    color: var(--header-fg);
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#transactions-table {
    width: 100%;
}

#transactions-table th {
    text-align: left;
}

form.dialog {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5rem 4rem 1fr 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "header       header      header"
        "description  description description"
        "minicalendar categories  categories"
        "buttons      buttons     buttons";
    flex-flow: row wrap;
}
form.dialog > header {
    grid-area: header;
}
form.dialog > header > h2 {
    color: var(--expense-bg);
    background: var(--expense-fg);
    text-align: center;
}
form.dialog > section {
    padding: 1rem;
}
form.dialog > section.amount {
    grid-area: header;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--expense-bg);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
form.dialog > section.amount > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
input.amount {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px dotted var(--expense-bg);
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    align-self: baseline;
    text-align: right;
    width: 8rem;
}
form.dialog > section.minicalendar {
    grid-area: minicalendar;
}
form.dialog > section.amount {
    display: flex;
    flex-flow: row wrap;
}
form.dialog > section.description {
    grid-area: description;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.25rem;
    justify-content: center;
}
form.dialog > section.description > * {
    margin-left: 0.5 rem;
    margin-right: 0.5 rem;
}
form.dialog > section.description > input {
    width: 30rem;
    align-self: baseline;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px dotted var(--header-bg);
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
form.dialog > section.categories {
    grid-area: categories;
    display: flex;
    flex-flow: column wrap;
}
form.dialog > section.dialog-buttons {
    grid-area: buttons;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 0rem;
}
form.dialog > section.dialog-buttons > button {
    border: none;
    border-radius: 1.25rem;
    height: 2.5rem;
    color: var(--expense-fg);
    background: var(--expense-bg);
    margin-right: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    align-self: flex-end;
}
form.dialog > section.dialog-buttons > button:hover {
    background: var(--expense-hl);
}
form.dialog > section.dialog-buttons > button#expense-cancel {
    border: 2px solid var(--expense-bg);
    background: var(--expense-fg);
    color: var(--expense-bg);
}


form.dialog > section.minicalendar {
    border: 2px solid var(--header-bg);
    display: flex;
    flex-flow: column;
    user-select: none;
    margin: 1rem;
    padding: 0;
}

section.minicalendar > header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

section.minicalendar > header > button {
    flex: 0 0 auto;
    background: none;
    width: 2.5rem;
    height: 3rem;
    border: none;
}
section.minicalendar > header > button:hover {
    background: var(--minicalendar-highlight-bg);
}

section.minicalendar > header > h3 {
    flex: 1 1 auto;
    text-align: center;
    margin: 0;
}

section.minicalendar > table > thead > tr > td {
    text-align: center;
    height: 1rem;
    font-size: 0.75rem;
    color: gray;
}

section.minicalendar > table > tbody > tr > td {
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
}
section.minicalendar > table > tbody > tr > td:hover {
    background: var(--minicalendar-highlight-bg);
}
