@import "bootstrap-reboot.css";
@import "fonts/fa-solid.css";
@import "palette.css";

html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 1.25rem;
    width: 100%;
    height: 100%;
    /*
    display: grid;
    grid-template-rows: 2.5rem 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "navigation"
        "main";
    */
}

/* Navigation Menu */

nav {
    grid-area: navigation;
    z-index: 1000;
    user-select: none;
    display: flex;
    flex-direction: row;
    color: var(--header-fg);
    background: var(--header-bg);
    box-shadow: 0px 0px 10px 2px grey;
}

nav a {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

nav a.at-end {
    margin-left: auto;
}

nav a:hover {
    text-decoration: inherit;
    color: inherit;
    background: var(--header-hl);
}

nav.dialog {
    background: var(--expense-bg);
    color: var(--expense-fg);
}

nav.dialog a:hover {
    background: var(--expense-hl);
}

main {
    /* grid-area: main; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#transactions {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) minmax(0, 1fr);
    grid-template-columns: minmax(min-content, max-content) minmax(0, 1fr);
    grid-template-areas:
        "balance content"
        "actions content";
    user-select: none;
}

section.balance {
    grid-area: balance;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 1rem;
    color: var(--header-bg);
}

#balance {
    font-size: 3rem;
}

#transactions-list {
    grid-area: content;
    overflow-y: auto;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

li.date {
    list-style: none;
    color: var(--header-bg);
    font-weight: bold;
    padding-top: 0.75rem;
    padding-left: 1rem;
}

#transactions-list > ul > *:nth-child(4n+1),
#transactions-list > ul > *:nth-child(4n+2) {
    background: #feffaa;
}
#transactions-list > ul > *:nth-child(4n+3),
#transactions-list > ul > *:nth-child(4n+4) {
    background: #ffffff;
}

#transactions-list > ul {
    padding-left: 0;
}
#transactions-list > ul > ul {
    padding-bottom: 0.75rem;
}

#transactions-list li.income,
#transactions-list li.expense {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#transactions-list span.amount {
    width: 6rem;
    margin-right: 1rem;
    text-align: right;
}

#transactions-list li.income span.amount {
    color: var(--income-bg);
}

#transactions-list li.expense span.amount {
    color: var(--expense-bg);
}

section.actions {
    grid-area: actions;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    padding-bottom: 2rem;
}

section.actions a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    border: solid 3px var(--header-bg);
    border-radius: 1.25rem;
    font-weight: bold;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: var(--header-bg);
    background: var(--header-fg);
    margin: 2rem 2rem;
    margin-top: 1rem;
    text-decoration: none;
}
section.actions a:hover {
    text-decoration: none;
    color: var(--header-bg);
    background: #ddd;
}
section.actions a[href="#income"] {
    margin-top: auto;
    border: none;
    color: var(--income-fg);
    background: var(--income-bg);
    box-shadow: 0px 4px 10px 0px grey;
}
section.actions a[href="#income"]:hover {
    color: var(--expense-fg);
    background: var(--income-hl);
}
section.actions a[href="#expense"] {
    border: none;
    color: var(--expense-fg);
    background: var(--expense-bg);
    box-shadow: 0px 4px 10px 0px grey;
}
section.actions a[href="#expense"]:hover {
    color: var(--expense-fg);
    background: var(--expense-hl);
}


form.dialog {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5rem 3rem minmax(0, 1fr) 5rem;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-areas: 
        "header  header       header      header      header"
        "lmargin date         description description rmargin"
        "lmargin date         categories  categories  rmargin"
        "lmargin buttons      buttons     buttons     rmargin";
    flex-flow: row wrap;
}
form.dialog > header {
    grid-area: header;
}
form.dialog > header > h2 {
    color: var(--expense-bg);
    background: var(--expense-fg);
    text-align: center;
}
form.dialog > section.amount {
    grid-area: header;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--expense-bg);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
form.dialog > section.amount > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
input.amount {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px dotted var(--expense-bg);
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    align-self: baseline;
    text-align: right;
    width: 8rem;
}
form.dialog > section.amount {
    display: flex;
    flex-flow: row wrap;
}
form.dialog > section.date {
    grid-area: date;
    display: flex;
    flex-flow: column nowrap;
}
form.dialog > section.description {
    grid-area: description;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    margin-left: 1rem;
}
form.dialog > section.description > * {
    margin-left: 0.5 rem;
    margin-right: 0.5 rem;
}
form.dialog > section.description > input {
    width: 30rem;
    align-self: baseline;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px dotted var(--header-bg);
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
form.dialog > section.categories {
    grid-area: categories;
    display: flex;
    flex-flow: column;
    overflow: none;
    margin: 1rem;
}

.listbox {
    /*
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    */
    display: flex;
    flex-flow: column wrap;
    column-gap: 1rem;
    row-gap: 0.25rem;
    align-content: flex-start;
}
.listbox div {
    display: flex;
    margin: 0;
    padding: 0;
}
.listbox label {
    display: flex;
    align-items: baseline;
    outline: none;
    margin: 0;
    padding: 0.5rem 1rem;
    border: 3px solid #fff;
    border-radius: 0.25rem;
    color: #000;
    background: #fff;
    text-align: left;
    user-select: none;
    cursor: pointer;
}
.listbox label:hover {
    color: #000;
    border: solid 3px #fff;
    background: #feb;
}
.listbox input:checked ~ label {
    /*
    color: #fff;
    border: solid 3px #600;
    background: #820;
    */
    color: #000;
    border: solid 3px #e86;
    background: #fc9;
}
.listbox .fa {
    width: 1.25rem;
    margin-right: 0.75rem;
}
.listbox input {
    -webkit-appearance: none;
    /* margin-right: 0.75rem; */
}

form.dialog > section.dialog-buttons {
    grid-area: buttons;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 0rem;
}
form.dialog > section.dialog-buttons > button {
    border: none;
    border-radius: 1.25rem;
    height: 2.5rem;
    color: var(--expense-fg);
    background: var(--expense-bg);
    margin-right: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    align-self: flex-end;
}
form.dialog > section.dialog-buttons > button:hover {
    background: var(--expense-hl);
}
form.dialog > section.dialog-buttons > button#expense-cancel {
    border: 2px solid var(--expense-bg);
    background: var(--expense-fg);
    color: var(--expense-bg);
}

.minicalendar {
    height: fit-content;
    border: 2px solid var(--expense-bg);
    border-radius: 1.25rem;
    display: grid;
    grid-template-columns: repeat(7, minmax(min-content, 1fr));
    padding: 0;
    margin: 1rem;
    user-select: none;
    contain: content;
}

.minicalendar div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.25rem;
}

.minicalendar div.day {
    border: solid 3px #fff;
    border-radius: 50%;
    cursor: pointer;
}

.minicalendar div:hover {
    background: #feb;
}

.minicalendar div[checked=true] {
    color: #000;
    border: solid 3px #e86;
    background: #fc9;
}

.minicalendar div.month {
    grid-area: span 1 / span 5;
}

.minicalendar div.month:hover {
    background: inherit;
}

.minicalendar div.weekday {
    font-variant: all-small-caps;
}

.minicalendar div.weekday:hover {
    background: inherit;
}

#calendar {
    display: grid;
    grid-template-columns: calc(70% - .25rem) calc(30% - .25rem);
    grid-template-rows: 14rem calc(100% - 14.5rem);
    grid-template-areas: 
        "month balance"
        "month day";
    grid-gap: 0.5rem;
    background: #eee;
    padding: 0.5rem;
}

#calendar-month {
    grid-area: month;
    border: solid 3px #099;
    border-radius: 1.25rem;
    display: grid;
    grid-template-columns: repeat(7, minmax(4rem, 1fr));
    grid-template-rows: 4rem repeat(auto-fit, minmax(10px, 1fr));
    grid-gap: 3px;
    padding: 0;
    user-select: none;
    contain: content;
    background: #099;
    z-index: 100;
    /* box-shadow: 0px 4px 10px 0px grey; */ 
}

#calendar-month > header {
    grid-area: span 1 / span 7;
    display: grid;
    grid-template-columns: repeat(7, minmax(4rem, 1fr));
    grid-template-rows: 3rem 1rem;
    grid-gap: 0;
    color: #099;
    background: #fff;
}

#calendar-month > header > p {
    grid-area: span 1 / span 3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
}

#calendar-month > header > div.button {
    grid-area: span 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0 2rem;
    margin: 0.25rem 5rem;
    border-radius: 1rem;
}

#calendar-month > header > div.button:hover {
    background: #cee;
}

#calendar-month > header > div.weekday {
    font-size: 0.75rem;
    text-align: center;
    color: #099;
}

#calendar-month > section {
    display: flex;
    flex-flow: column nowrap;
    border: none;
    background: #fff;
    contain: strict;
    cursor: pointer;
}

#calendar-month > section:empty {
    cursor: default;
}

#calendar-month > section > header {
    text-align: center;
    color: #099;
}

#calendar-month > section > header.today {
    font-variant-caps: all-small-caps;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#calendar-month > section.checked {
    background: #cee;
}

#calendar-month > section.checked > header {
    color: #fff;
    background: #099;
}

#calendar-month > section:hover {
    /* background: #ffa; */
}

#calendar-month > section > ul {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* align-items: flex-start; */
    padding: 0;
    margin: 0;
}

#calendar-month > section > ul > li {
    padding: 0 0.25rem;
    margin-left: 0.25rem;
    margin-top: 0.125rem;
    margin-bottom: 0;
    height: 1.75rem;
    /* flex: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: monospace; */
    /* font-weight: bold; */
    font-size: 0.75rem;
}

#calendar-month > section > ul > li.income {
    color: #fff;
    background: var(--income-bg);
    border-radius: 3px;
}

#calendar-month > section > ul > li.expense {
    color: #fff;
    background: var(--expense-bg);
    border-radius: 1rem;
}

#calendar-day {
    grid-area: day;
    border: solid 3px #099;
    border-radius: 1.25rem;
    background: #099;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    contain: content;
    user-select: none;
    z-index: 100;
    /* box-shadow: 0px 4px 10px 0px grey; */
}

#calendar-day:empty {
    flex: 1;
    margin: 1rem;
    border: solid 3px transparent;
    border-radius: 1.25rem;
    background: transparent;
    contain: content;
    box-shadow: none;
}

#calendar-day > header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(4rem + 3px);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

#calendar-day > ul {
    flex: 1;
    /* background: #cee; */
    background: #fff;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    overflow-y: scroll;
}

#calendar-day > ul > li {
    display: flex;
    justify-content: stretch;
    padding: 0.25rem 2rem;
}

/*
#calendar-day > ul > li:nth-child(even) {
    background: #add;
}
*/

#calendar-day > ul > li.income {
    color: var(--income-bg);
}

#calendar-day > ul > li.expense {
    color: var(--expense-bg);
}

#calendar-day > ul > li > div:last-child {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#calendar-day > ul > li > div:first-child {
    width: 6rem;
    text-align: right;
    margin-right: 1rem;
}

#calendar-day > .actions {
    height: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    background: #fff;
    padding-bottom: 0.5rem;
}

#calendar-day > .actions > a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    height: 2.5rem;
    width: 8rem;
    padding: 0 1.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 1.25rem;
}

#calendar-day > .actions > a.income {
    background: var(--income-bg);
    border-radius: 3px; 
    border: solid 3px var(--income-bg);
}

#calendar-day > .actions > a.income:hover {
    background: var(--income-hl);
    border: solid 3px var(--income-hl);
}

#calendar-day > .actions > a.expense {
    background: var(--expense-bg);
    border: solid 3px var(--expense-bg);
}

#calendar-day > .actions > a.expense:hover {
    background: var(--expense-hl);
    border-radius: 1.25rem;
    border: solid 3px var(--expense-hl);
}

#calendar .balance {
    grid-area: balance;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 0;
}


/* Transaction Dialog */

dialog.transaction {
    padding: 0;
    border: none;
    border-radius: 1.25rem;
    contain: content;
    --local-primary: #f0f;
    box-shadow: 0px 4px 10px 0px black;
}

dialog.transaction.income {
    --local-primary: var(--income-bg);
    color: var(--income-bg);
}

dialog.transaction.expense {
    --local-primary: var(--expense-bg);
    color: var(--expense-bg);
}

dialog.transaction::backdrop {
    background: #3338;
}

dialog.transaction form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    padding: 0;
}

dialog.transaction header {
    background: var(--local-primary);
    color: #fff;
    flex: 0 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

dialog.transaction section.amount-description {
    background: #fff;
    margin: 0;
    display: grid;
    grid-template-columns: max-content 1fr;
    padding: 0.5rem 2rem;
}

dialog.transaction section > * {
    align-self: baseline;
}

dialog.transaction section > label {
    text-align: right;
    margin-right: 1rem;
}

dialog.transaction section > input {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px dotted;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

dialog.transaction section > input[name="amount"] {
    width: 8rem;
    text-align: right;
}

dialog.transaction section > .money-symbol {
    border: none;
    padding: 2px 1rem;
    border-bottom: 2px;
}

dialog.transaction section > input[name="description"] {
}

dialog.transaction section.actions {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    background: #fff;
    padding: 1.5rem 2rem 0.5rem;
}

dialog.transaction section.actions button {
    border: solid 2px var(--local-primary);
    border-radius: 1.25rem;
    height: 2.5rem;
    color: var(--local-primary);
    background: #fff;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: 0.5rem 0.5rem;
    font-weight: bold;
    align-self: flex-end;
}

dialog.transaction section.actions button:last-child {
    color: #fff;
    background: var(--local-primary);
}
