@import "bootstrap-reboot.css";
@import "fonts/fa-solid.css";
@import "palette.css";

html {
    height: 100%;
}

body {
    font-size: 1.25rem;
    height: 100%;
    display: grid;
    grid-template-rows: 2.5rem 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "navigation"
        "main";
}

/* Navigation Menu */

nav {
    grid-area: navigation;
    z-index: 1000;
    user-select: none;
    display: flex;
    flex-direction: row;
    color: var(--header-fg);
    background: var(--header-bg);
    box-shadow: 0px 0px 10px 2px grey;
}

nav a {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

nav a.at-end {
    margin-left: auto;
}

nav a:hover {
    text-decoration: inherit;
    color: inherit;
    background: var(--header-hl);
}

nav.dialog {
    background: var(--expense-bg);
    color: var(--expense-fg);
}

nav.dialog a:hover {
    background: var(--expense-hl);
}

main {
    grid-area: main;
    overflow: hidden;
}

#transactions {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) minmax(0, 1fr);
    grid-template-columns: minmax(min-content, max-content) minmax(0, 1fr);
    grid-template-areas:
        "balance content"
        "actions content";
    user-select: none;
}

section.balance {
    grid-area: balance;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 1rem;
    color: var(--header-bg);
}

#balance {
    font-size: 3rem;
}

#transactions-list {
    grid-area: content;
    overflow-y: auto;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

li.date {
    list-style: none;
    color: var(--header-bg);
    font-weight: bold;
    padding-top: 0.75rem;
    padding-left: 1rem;
}

#transactions-list > ul > *:nth-child(4n+1),
#transactions-list > ul > *:nth-child(4n+2) {
    background: #feffaa;
}
#transactions-list > ul > *:nth-child(4n+3),
#transactions-list > ul > *:nth-child(4n+4) {
    background: #ffffff;
}

#transactions-list > ul {
    padding-left: 0;
}
#transactions-list > ul > ul {
    padding-bottom: 0.75rem;
}

li.income,
li.expense {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
    padding-left: 1rem;
}

span.amount {
    width: 6rem;
    margin-right: 1rem;
    text-align: right;
}

li.income span.amount {
    color: var(--income-bg);
}

li.expense span.amount {
    color: var(--expense-bg);
}

section.actions {
    grid-area: actions;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    padding-bottom: 2rem;
}

section.actions a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    border: solid 3px var(--header-bg);
    border-radius: 1.25rem;
    font-weight: bold;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: var(--header-bg);
    background: var(--header-fg);
    margin: 2rem 2rem;
    margin-top: 1rem;
    text-decoration: none;
}
section.actions a:hover {
    text-decoration: none;
    color: var(--header-bg);
    background: #ddd;
}
section.actions a[href="#income"] {
    margin-top: auto;
    border: none;
    color: var(--income-fg);
    background: var(--income-bg);
    box-shadow: 0px 4px 10px 0px grey;
}
section.actions a[href="#income"]:hover {
    color: var(--expense-fg);
    background: var(--income-hl);
}
section.actions a[href="#expense"] {
    border: none;
    color: var(--expense-fg);
    background: var(--expense-bg);
    box-shadow: 0px 4px 10px 0px grey;
}
section.actions a[href="#expense"]:hover {
    color: var(--expense-fg);
    background: var(--expense-hl);
}


form.dialog {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5rem 3rem minmax(0, 1fr) 5rem;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-areas: 
        "header  header       header      header      header"
        "lmargin date         description description rmargin"
        "lmargin date         categories  categories  rmargin"
        "lmargin buttons      buttons     buttons     rmargin";
    flex-flow: row wrap;
}
form.dialog > header {
    grid-area: header;
}
form.dialog > header > h2 {
    color: var(--expense-bg);
    background: var(--expense-fg);
    text-align: center;
}
form.dialog > section.amount {
    grid-area: header;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--expense-bg);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
form.dialog > section.amount > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
input.amount {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px dotted var(--expense-bg);
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    align-self: baseline;
    text-align: right;
    width: 8rem;
}
form.dialog > section.amount {
    display: flex;
    flex-flow: row wrap;
}
form.dialog > section.date {
    grid-area: date;
    display: flex;
    flex-flow: column nowrap;
}
form.dialog > section.description {
    grid-area: description;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    margin-left: 1rem;
}
form.dialog > section.description > * {
    margin-left: 0.5 rem;
    margin-right: 0.5 rem;
}
form.dialog > section.description > input {
    width: 30rem;
    align-self: baseline;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px dotted var(--header-bg);
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
form.dialog > section.categories {
    grid-area: categories;
    display: flex;
    flex-flow: column;
    overflow: none;
    margin: 1rem;
}

.listbox {
    /*
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    */
    display: flex;
    flex-flow: column wrap;
    column-gap: 1rem;
    row-gap: 0.25rem;
    align-content: flex-start;
}
.listbox div {
    display: flex;
    margin: 0;
    padding: 0;
}
.listbox label {
    display: flex;
    align-items: baseline;
    outline: none;
    margin: 0;
    padding: 0.5rem 1rem;
    border: 3px solid #fff;
    border-radius: 0.25rem;
    color: #000;
    background: #fff;
    text-align: left;
    user-select: none;
}
.listbox label:hover {
    color: #000;
    border: solid 3px #fff;
    background: #feb;
}
.listbox input:checked ~ label {
    /*
    color: #fff;
    border: solid 3px #600;
    background: #820;
    */
    color: #000;
    border: solid 3px #e86;
    background: #fc9;
}
.listbox .fa {
    width: 1.25rem;
    margin-right: 0.75rem;
}
.listbox input {
    -webkit-appearance: none;
    /* margin-right: 0.75rem; */
}

form.dialog > section.dialog-buttons {
    grid-area: buttons;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 0rem;
}
form.dialog > section.dialog-buttons > button {
    border: none;
    border-radius: 1.25rem;
    height: 2.5rem;
    color: var(--expense-fg);
    background: var(--expense-bg);
    margin-right: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    align-self: flex-end;
}
form.dialog > section.dialog-buttons > button:hover {
    background: var(--expense-hl);
}
form.dialog > section.dialog-buttons > button#expense-cancel {
    border: 2px solid var(--expense-bg);
    background: var(--expense-fg);
    color: var(--expense-bg);
}

.minicalendar {
    height: fit-content;
    border: 2px solid var(--expense-bg);
    border-radius: 1.25rem;
    display: grid;
    grid-template-columns: repeat(7, minmax(min-content, 1fr));
    padding: 0;
    margin: 1rem;
    user-select: none;
    contain: content;
}

.minicalendar div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.25rem;
}

.minicalendar div.day {
    border: solid 3px #fff;
    border-radius: 50%;
}

.minicalendar div:hover {
    background: #feb;
}

.minicalendar div[checked=true] {
    color: #000;
    border: solid 3px #e86;
    background: #fc9;
}

.minicalendar div.month {
    grid-area: span 1 / span 5;
}

.minicalendar div.month:hover {
    background: inherit;
}

.minicalendar div.weekday {
    font-variant: all-small-caps;
}

.minicalendar div.weekday:hover {
    background: inherit;
}
