
.wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "content sidebar"
        "footer footer";
}

aside {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
}

.content {
    grid-area: content;
}

footer {
    font-size: 0.6rem;
    grid-area: footer;
}

