:root {
  --fg: #000;
  --fg1: #777; 
  --fg2: #999; 

  --bg: #fff;
  --bg1: #efebe0;
  --bg-darker: #cdc9c0;
  --bg3: #898480;

  --primary: #008899;
  --on-primary: #fff;
  --primary-light: #ddf7ff;

  --header-fg: #fff;
  --header-bg: #145;
  --header-hl: #356;

  --income-fg: var(--header-fg);
  --income-bg: #181;
  --income-hl: #292;

  --expense-fg: var(--header-fg);
  --expense-bg: #c20;
  --expense-hl: #d41;

  --minicalendar-highlight-bg: #ffcc68;
}
