:root {
    --header-fg: #fff;
    --header-bg: #145;
    --header-hl: #356;

    --income-fg: var(--header-fg);
    --income-bg: #161;
    --income-hl: #272;

    --expense-fg: var(--header-fg);
    --expense-bg: #820;
    --expense-hl: #941;

    --minicalendar-highlight-bg: #ffcc68;
}
