
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}

#navigation {
  position: absolute;
  top: 0;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
